NEXT_PUBLIC_SANITY_PROJECT_ID=uedqyf40
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SEOFIELDS_LICENSE_KEY=
SEARCH_CONSOLE_SITE_URL=
GA_SERVICE_ACCOUNT_EMAIL=
GA_PRIVATE_KEY=
